.c-avatar {
    color: $color-gray-darker;
    border: 1px solid $color-gray-brighter;
    border-radius: 100px;
    background-color: $color-gray-brighter;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
