// ---------- Colors ----------
$color-red: #d4213d;
$color-white: #fff;
$color-black: #000;
$color-grey: #888;
$color-grey-brighter: #d4d4d4;
$color-gray-brightest: #e3e3e3;

// ---------- Sizes ----------

    
